# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
.python-version

# Virtualenv
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment files
.env
.env.*

# OS / IDE
.DS_Store
Thumbs.db
.idea/
.vscode/

